<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>Test</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ViewStudentsServlet</servlet-name>
        <servlet-class>ua.com.foxminded.servlet.ViewStudentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewStudentsServlet</servlet-name>
        <url-pattern>/students/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewTeachersServlet</servlet-name>
        <servlet-class>ua.com.foxminded.servlet.ViewTeachersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewTeachersServlet</servlet-name>
        <url-pattern>/teachers/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewGroupsServlet</servlet-name>
        <servlet-class>ua.com.foxminded.servlet.ViewGroupsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewGroupsServlet</servlet-name>
        <url-pattern>/groups/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewLecturesServlet</servlet-name>
        <servlet-class>ua.com.foxminded.servlet.ViewLecturesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewLecturesServlet</servlet-name>
        <url-pattern>/lectures/*</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>
            org.springframework.web.context.support.AnnotationConfigWebApplicationContext
        </param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>ua.com.foxminded.configs.SpringConfig</param-value>
    </context-param>
   <listener>
         <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
     </listener>
</web-app>

